@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ---> GLOBAL STYLING <--- */

:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  background-color: #f3f3f3;
  font-size: 1rem;
  color: #444;
  scroll-behavior: smooth;
}

* img {
  height: 50px;
}

* svg {
  height: auto;
  width: auto;
  fill: none;
}

* li,
a {
  text-decoration: none;
  display: block;
  color: black;
}

ol,
ul {
  list-style: none;
}

button {
  background-color: var(--color-primary-darker);
  border: none;
  border-radius: 3rem;
  padding: 1rem;
  cursor: pointer;
}

.features,
.operations,
.testimonials {
  margin: 0 1rem;
}

.section-title {
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--color-primary);
}

.section-subtitle {
  font-weight: 600;
  font-size: 2rem;
}

/* ---> ACOMODANDO TODO EL CONTENIDO <--- */

.layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  min-height: 100vh;
  gap: 3rem;
  grid-template-areas:
    "header"
    "main"
    "divider-hero"
    "features"
    "divider-features"
    "operations"
    "divider-operations"
    "testimonials"
    "footer";
}

/* ---> HEADER SECTION <--- */

.header {
  height: 80px;
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header__navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 0 2rem;
  width: min(1600px, 100%);
  margin: 0 auto;
}

/* ESTILADO DEL MENU HAMBURGUESA */

.header__hamburguer-menu-toggle-label {
  display: flex;
  flex-direction: column;
  width: 3rem;
  height: 3rem;
  border: 0;
  background: transparent;
  gap: 0.65rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.header__hamburguer-menu-toggle-label > div {
  background: black;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s;
  transform-origin: left;
}

.header__hamburguer-menu-toggle-label.active div:first-child {
  transform: rotate(30deg);
}

.header__hamburguer-menu-toggle-label.active div:nth-child(2) {
  opacity: 0;
}

.header__hamburguer-menu-toggle-label.active div:last-child {
  transform: rotate(-30deg);
}

/* ESTILADO DE LA LISTA DE ELEMENTOS DENTRO DEL MENU HAMBURGUESA */

.header__links {
  width: 100%;
  position: absolute;
  top: 80px;
  height: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 3rem;
  transition: all 0.3s;
  background-color: white;
  font-size: 2rem;
}

.hamburguer-menu-toggle:checked + .header__links {
  height: calc(100vh - 80px);
}

.hamburguer-menu-toggle {
  display: none;
}

.header__signup-btn {
  padding: 2rem;
  font-size: 2rem;
}

/* ----> HERO SECTION <---- */

.hero {
  grid-area: main;
  text-align: center;
}

.hero__text {
  margin: 1rem;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(1rem, 1fr));
  gap: 1rem;
  font-size: 1rem;
}

.hero__subtitle {
  font-size: 1rem;
  text-align: center;
}

.hero__highlight {
  background-image: var(--gradient-primary);
}

.hero__btn {
  color: var(--color-primary);
  background-color: transparent;
  border-radius: 0%;
  font-size: 0.8rem;
  grid-row: 3 / 4;
  padding: 0;
  margin: 0 auto;
}

.hero__divider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__line {
  border-color: var(--color-primary);
  width: 5rem;
  margin-top: -1rem;
}

.hero__image-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.hero__image {
  height: 10rem;
}

.hero__anchor {
  height: 2rem;
  width: 8rem;
  position: absolute;
  margin-bottom: 3rem;
}

.divider-hero {
  grid-area: divider-hero;
}

/* ----> FEATURES SECTION <---- */

.features {
  /* background-color: aqua; */
  grid-area: features;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.feature__title {
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--color-primary);
  font-size: 1rem;
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  margin: 0;
  justify-content: center;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.feature__content {
  height: 100%;
}

.feature__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature__image {
  height: 11rem;
  content-visibility: auto;
}

.feature__icon {
  display: none;
}

.divider-features {
  grid-area: divider-features;
}

/* ----> OPERATIONS SECTION <---- */

.operations {
  grid-area: operations;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.operations__intro {
  margin: 0 auto;
}

.operations__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.operations__buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.5rem, 1fr));
  gap: 1rem;
  width: 100%;
  transform: translateY(10px);
}

.operations__button--beige {
  background-color: var(--color-secondary);
}

.operations__button--green {
  background-color: var(--color-primary);
}

.operations__button--red {
  background-color: var(--color-tertiary);
}

.operations__step {
  font-weight: bold;
}

.operations__button--description {
  font-weight: 600;
}

.operations__details {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 3rem;
  padding: 0 1rem;
}

.operations__icon--container {
  display: inline;
}

.operations__icon--background {
  background-color: var(--color-secondary-opacity);
  position: absolute;
  border-radius: 50%;
  padding: 5rem 5rem;
  margin: 2.4rem 0 0 4.4rem;
}

.operations__icon {
  height: 5rem;
  margin-top: 4.5rem;
  fill: var(--color-secondary-darker);
  content-visibility: auto;
}

.operations__description {
  display: grid;
  margin: 3rem 0rem;
}

.operations__description--subtitle {
  font-weight: 500;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.divider-operations {
  grid-area: divider-operations;
}

/* ----> TESTIMONIALS SECTION <---- */

.testimonials {
  grid-area: testimonials;
  /* display: grid; */
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: 1fr; */
  /* gap: 3rem; */
}

.testimonials__carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 3rem 0;
  /* background-color: #e3f2fd; */
}

.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  background-color: #fff;
  padding: 50px 0;
  overflow: hidden;
  /* margin: 0 1rem; */
}

.testimonial__quote {
  font-size: 1.5rem;
  padding: 0 1rem;
}

.testimonial__photo {
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
  content-visibility: auto;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}

.testimonial__experience {
  /* text-align: center; */
  padding: 0 100px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.slide .quote-icon {
  font-size: 30px;
  color: var(--color-primary);
}

.testimonial__author {
  padding: 0rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.testimonial__info {
  margin-left: 2rem;
}

.testimonial__name {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.testimonial__location {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

/* swiper button css */
.swiper-nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  transition: 0.2s;
  margin: 1rem 0;
}

.swiper-nav-btn::after,
.swiper-nav-btn::before {
  font-size: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: rgba(0, 0, 0, 0.1);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* ----> FOOTER SECTION <---- */

.footer {
  background-color: #37383d;
  grid-area: footer;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
  grid-template-areas:
    "."
    "footer__cta"
    "footer-divider"
    "footer__links"
    "footer__branding"
    "copyright";
}

.footer__cta {
  grid-area: footer__cta;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  text-align: center;
  margin: 0 1rem;
}

.footer__message {
  font-weight: 600;
  font-size: 1.5rem;
}

.footer__signup-btn {
  font-size: 1.5rem;
  width: auto;
  margin: auto;
}

.footer-divider {
  grid-area: footer-divider;
  border-color: #6b6b6b;
}

.footer__links {
  grid-area: footer__links;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 65vw;
  margin: 0 auto;
  text-align: center;
}

.footer__link {
  padding: 1rem;
  color: white;
}

.footer__branding {
  grid-area: footer__branding;
  display: flex;
  justify-content: center;
}

.footer__logo {
  content-visibility: auto;
}

.footer__copyright {
  grid-area: copyright;
  margin: 1rem;
  color: #aaa;
  text-align: center;
}

.footer__highlight {
  color: white;
}

/* ----> MODAL WINDOW <---- */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}

.modal-content {
  padding: 6rem;
}

.btn-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.form__dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container__modal-window--title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-modal-window {
  margin-bottom: 2rem;
  text-align: center;
}

.btn-modal-register {
  width: 10rem;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}

/* ----> MEDIA QUERIES SECTION <---- */

/* sm */
@media (width >= 640px) {
  html {
    background-color: red;
    /* font-size: 1.5rem; */
  }

  .hero {
    margin: 0 8rem;
  }

  .hero__text {
    font-size: 1.4rem;
  }

  .hero__subtitle {
    font-size: 1.4rem;
  }

  .hero__image {
    height: 20rem;
  }

  .hero__btn {
    font-size: 1.2rem;
  }

  .hero__line {
    width: 8rem;
  }

  .operations__button--red {
    grid-column: 1 / -1;
    margin: 0 auto;
    width: 50%;
  }

  .footer__signup-btn {
    width: 50%;
    margin: 0 auto;
  }
}

/* SWIPER MEDIA QUERY */
@media screen and (max-width: 768px) {
  .swiper-nav-btn {
    display: none;
  }

  .testimonial__experience {
    padding: 0 20px;
  }
}

@media screen and (orientation: landscape) {
  html {
    background-color: blue;
  }

  * img {
    height: 35px;
  }

  /* DESAPARECE AL MENU HAMBURGUESA */
  .header__hamburguer-menu-toggle-label {
    display: none;
  }

  .header__links {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    gap: 1rem;
    overflow: visible;
    background-color: transparent;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
  }

  .header__signup-btn {
    padding: 0.5rem;
    font-size: 1rem;
  }

  /* FIN SECCION HAMBURGUESA */
}

/* MD */

@media (width >= 768px) {
  /* ----> GENERAL STYLING <---- */

  html {
    background-color: darksalmon;
  }

  * img {
    height: 50px;
  }

  * svg {
    height: 2rem;
    width: 2rem;
    fill: var(--color-primary-darker);
  }

  .header__hamburguer-menu-toggle-label {
    display: none;
  }

  .header__links {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    gap: 2rem;
    overflow: visible;
    background-color: transparent;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
  }

  .header__signup-btn {
    padding: 0.5rem;
    font-size: 1rem;
  }

  .features,
  .operations,
  .testimonials {
    margin: 0 3rem;
  }

  .section-title {
    font-size: 2rem;
  }

  .section-subtitle {
    font-size: 3rem;
  }

  .money--img {
    order: 2;
  }

  /* ----> MAIN SECTION <---- */
  .hero__text {
    font-size: 2rem;
    gap: 3rem;
  }

  .hero__subtitle {
    font-size: 2rem;
  }

  .hero__divider {
    margin-top: -4rem;
  }

  /* ----> FEATURES SECTION <---- */

  .feature {
    gap: 6rem;
  }

  .features__list {
    margin: 0;
  }

  .feature--digital,
  .feature--money,
  .feature--debit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .feature__title {
    font-size: 1.5rem;
  }

  /* OPERATIONS SECTION */

  .operations__details {
    display: grid;
    padding: 0 3rem;
    grid-template-columns: 0.1fr 2fr;
  }

  .operations__icon--container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .operations__icon--background {
    padding: 2rem;
    margin: 2rem 2rem 6rem 2rem;
  }

  .operations__icon {
    height: 2.5rem;
    width: 2rem;
    margin-bottom: 8.8rem;
  }

  .operations__buttons {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  }

  .operations__button--green {
    transform: translateY(5px);
  }

  .operations__button--red {
    grid-column: auto;
    margin: 0;
    width: auto;
  }
}

/* @media (hover: hover) {
  html {
    background-color: aqua;
  }
} */

/* lg */
@media (width >= 1024px) {
  html {
    background-color: pink;
  }

  @media screen and (orientation: landscape) {
    /* ESTILADO GENERAL */

    html {
      background-color: blueviolet;
    }

    .header__navbar {
      width: min(1200px, 100%);
      margin: 2rem auto;
    }

    .header__links {
      gap: 3rem;
      font-size: 1.5rem;
    }

    .header__signup-btn {
      padding: 1rem;
      font-size: 1.5rem;
    }

    .hero {
      margin-top: 10rem;
      margin-top: 0;
    }

    .hero__subtitle {
      text-align: center;
    }

    /* FEATURE SECTION */

    .feature__title {
      font-size: 1.5rem;
      color: black;
    }

    .feature__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3rem;
      width: 3rem;
      background-color: var(--color-primary-opacity);
      border-radius: 50%;
      margin-bottom: 1rem;
    }

    .feature__image {
      height: 17rem;
    }
  }

  .footer__message {
    font-size: 2.5rem;
  }
}
/* / xl / */
@media (width >= 1280px) {
  /* ----> GENERAL STYLING <---- */

  html {
    background-color: chartreuse;
  }

  .divider-hero,
  .divider-features,
  .divider-operations {
    margin: 5rem 0;
  }

  /* ----> HEADER SECTION <---- */

  .header__navbar {
    width: min(1200px, 100%);
    margin: 2rem auto;
  }

  .header__links {
    gap: 3rem;
    font-size: 1.5rem;
  }

  .header__signup-btn {
    padding: 1rem;
    font-size: 1.5rem;
  }

  /* ----> MAIN SECTION <---- */

  .hero {
    margin: 10rem 10rem 0 10rem;
    display: flex;
  }

  .hero__text {
    margin: 1rem;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
  }

  .hero__title {
    font-size: 2.5rem;
    text-align: start;
    grid-column: 1 / -1;
  }

  .hero__subtitle {
    font-size: 1.3rem;
    grid-column: 1 / -1;
    text-align: start;
  }

  .hero__btn {
    grid-column: 1 / 1;
    align-self: start;
    width: 8rem;
    margin: 0;
  }

  .hero__divider {
    grid-column: 1 / 1;
    margin-top: -8rem;
    justify-content: start;
  }

  .divider-hero {
    margin: 10rem 0;
  }

  /* ----> FEATURES SECTION <---- */

  .features__intro,
  .operations__intro,
  .testimonials__intro {
    margin: 0 7rem 5rem 7rem;
  }

  .feature__image {
    height: 22rem;
  }

  .feature__title {
    font-size: 2rem;
  }

  /* ----> OPERATIONS SECTION <---- */
  .operations__details {
    padding: 0 5rem;
    width: 90%;
  }

  .operations__buttons {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 18rem));
    display: grid;
    place-content: center;
  }

  /* ----> TESTIMONIALS SECTION <---- */

  .testimonials__previous-slide,
  .testimonials__next-slide {
    margin-top: 33rem;
  }

  /* ----> FOOTER SECTION <---- */

  .footer__cta {
    margin: 0 14rem;
  }

  .footer__copyright {
    margin-bottom: 5rem;
  }
}

/* / 2xl / */
@media (width >= 1400px) {
  html {
    background-color: white;
  }

  .features__intro,
  .operations__intro,
  .testimonials__intro {
    margin: 0 21rem 5rem 21rem;
  }

  /* ----> HEADER <---- */

  .sticky {
    /* Animación para que el header se quede estático */
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0px;
    animation: adjust-header linear both;
    animation-timeline: scroll();
    animation-range: 0 400px;
    /* Asegurar que siempre se superponga a cualquier elemento del DOM */
    z-index: 1000;
  }

  @keyframes adjust-header {
    to {
      /* Animación para que el header cambie de tamaño y color */
      background: rgba(0, 0, 0, 0.2);
      height: 80px;
    }
  }

  .header__navbar {
    padding: 0 5rem;
    font-size: 1rem;
    width: 100%;
    margin: 0;
  }

  .header__links {
    padding: 0.6rem;
    font-size: 1rem;
  }

  .header__signup-btn {
    padding: 0.6rem;
    font-size: 1rem;
  }

  /* ----> HERO SECTION <---- */

  .hero__text {
    font-weight: 500;
    gap: 1rem;
  }

  .hero__subtitle {
    line-height: 1.35;
  }

  .hero__title {
    font-size: 3.4rem;
  }

  .hero__image {
    height: 25rem;
    transform: translateY(-5rem);
  }

  /* ----> FEATURES SECTION <---- */

  .feature {
    margin: 0 5rem;
  }

  .feature__image {
    height: 27.5rem;
    /* filter: blur(30px); */
  }

  /* ----> OPERATIONS SECTION <---- */

  .operations__content {
    margin: 0 10rem;
  }

  .operations__buttons {
    transform: translateY(10px);
  }

  /* ----> TESTIMONIALS SLIDER <---- */

  .testimonials__carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .testimonial {
    position: relative;
    max-width: 60rem;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    margin: 0 1rem;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 2rem;
    padding: 0 3rem;
  }

  .testimonial__quote--container {
    display: flex;
    width: 100%;
    padding: 0 3rem;
  }

  .testimonial__quote {
    font-size: 2rem;
  }

  .quote-icon {
    color: var(--color-primary);
  }

  .testimonial__experience {
    padding: 0 3rem;
    color: #333;
    line-height: 2rem;
  }

  .testimonial__author {
    padding: 3rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .testimonial__photo {
    border-radius: 50%;
    height: 5rem;
    content-visibility: auto;
    object-fit: cover;
  }

  .testimonial__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
  }

  .testimonial__name {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin: 0;
  }

  .testimonial__location {
    font-size: 0.9rem;
    font-weight: 400;
    color: #333;
  }

  /* ----> TESTIMONIAL PAGINATION <---- */

  .swiper-nav-btn {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    transition: 0.2s;
    color: var(--color-primary);
    margin-top: -7rem;
  }

  .swiper-nav-btn::after,
  .swiper-nav-btn::before {
    font-size: 1.25rem;
  }

  .swiper-button-prev,
  .swiper-button-next {
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--color-primary);
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background-color: var(--color-primary-opacity);
  }

  .swiper-button-prev:active,
  .swiper-button-next:active {
    background-color: #104a1d3a;
  }

  .swiper-pagination-bullet:hover {
    background-color: var(--color-primary-darker);
  }

  .swiper-pagination-bullet:active {
    background-color: #104a1d3a;
  }

  /* ----> FOOTER SECTION <---- */
  .footer__cta {
    margin: 0 28rem;
  }
}
