@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ---> GLOBAL STYLING <--- */

:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  background-color: #f3f3f3;
  font-size: 1rem;
}

* img {
  height: 50px;
}

* li,
a {
  text-decoration: none;
  display: block;
  color: black;
}

ol,
ul {
  list-style: none;
}

button {
  background-color: var(--color-primary-darker);
  border: none;
  border-radius: 3rem;
  padding: 1rem;
}

.section-title {
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--color-primary);
}

.section-subtitle {
  font-weight: 600;
  font-size: 2rem;
}

/* ---> ACOMODANDO TODO EL CONTENIDO <--- */

.layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  min-height: 100vh;
  gap: 3rem;
  grid-template-areas:
    "header"
    "main"
    "divider-hero"
    "features"
    "divider-features"
    "operations"
    "divider-operations"
    "testimonials"
    "footer";
}

/* ---> HEADER SECTION <--- */

.header {
  height: 80px;
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header__navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 0 2rem;
  width: min(1600px, 100%);
  margin: 0 auto;
}

/* ESTILADO DEL MENU HAMBURGUESA */

.header__hamburguer-menu-toggle-label {
  display: flex;
  flex-direction: column;
  width: 3rem;
  height: 3rem;
  border: 0;
  background: transparent;
  gap: 0.65rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.header__hamburguer-menu-toggle-label > div {
  background: black;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s;
  transform-origin: left;
}

.header__hamburguer-menu-toggle-label.active div:first-child {
  transform: rotate(30deg);
}

.header__hamburguer-menu-toggle-label.active div:nth-child(2) {
  opacity: 0;
}

.header__hamburguer-menu-toggle-label.active div:last-child {
  transform: rotate(-30deg);
}

/* ESTILADO DE LA LISTA DE ELEMENTOS DENTRO DEL MENU HAMBURGUESA */

.header__links {
  width: 100%;
  position: absolute;
  top: 80px;
  height: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 3rem;
  transition: all 0.3s;
  background-color: white;
  font-size: 2rem;
}

.hamburguer-menu-toggle:checked + .header__links {
  height: calc(100vh - 80px);
}

.hamburguer-menu-toggle {
  display: none;
}

.header__cta-btn {
  padding: 2rem;
  font-size: 2rem;
}

/* ----> HERO SECTION <---- */

.hero {
  grid-area: main;
  text-align: center;
}

.hero__text {
  margin: 1rem;
  display: grid;
  grid-template-rows: 1fr 3rem 2rem;
  gap: 1rem;
}

/* .hero__text > .hero__title {
  grid-row: 1 / 2;
} */

.hero__highlight {
  background-image: var(--gradient-primary);
}

/* .hero__text > .hero__subtitle {
  grid-row: 2 / 3;
} */

.hero__btn {
  color: var(--color-primary);
  background-color: transparent;
  border-radius: 0%;
  font-size: 1.2rem;
  grid-row: 3 / 4;
  padding: 0;
}

.hero__divider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__line {
  border-color: var(--color-primary);
  width: 8rem;
  margin-top: -1rem;
}

.hero__image-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.hero__image {
  height: 200px;
}

.divider-hero {
  grid-area: divider-hero;
}

/* ----> FEATURES SECTION <---- */

.features {
  /* background-color: aqua; */
  grid-area: features;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* align-items: center; */
}

.feature__title {
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--color-primary);
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.feature__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature__image {
  height: 11rem;
}

.feature__icon {
  display: none;
}

.feature__icon {
  display: none;
}

.divider-features {
  grid-area: divider-features;
}

/* ----> OPERATIONS SECTION <---- */

.operations {
  grid-area: operations;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.operations__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.operations__buttons {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 22rem));
  grid-template-rows: repeat(3, 3rem);
  gap: 1rem;
}

.operations__button--beige {
  background-color: var(--color-secondary);
}

.operations__button--green {
  background-color: var(--color-primary);
}

.operations__button--red {
  background-color: var(--color-tertiary);
}

.operations__description {
  margin-bottom: 3rem;
}

.operations__button--description {
  font-weight: 600;
}

.operations__step {
  font-weight: bold;
}

.operations__details {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  gap: 3rem;
  padding: 0 1rem;
}

.operations__icon--background {
  background-color: var(--color-secondary-opacity);
  position: absolute;
  border-radius: 50%;
  padding: 5rem 5rem;
  margin: 2.4rem 0 0 4.4rem;
}

.operations__icon {
  height: 5rem;
  margin-top: 4.5rem;
  fill: var(--color-secondary-darker);
}

.operations__description {
  display: grid;
}

.operations__description--subtitle {
  font-weight: 500;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.divider-operations {
  grid-area: divider-operations;
}

/* ----> TESTIMONIALS SECTION <---- */

.testimonials {
  /* background-color: rgb(195, 240, 195); */
  grid-area: testimonials;
  display: grid;
  gap: 3rem;
  margin: 0 1rem;
}

.testimonial__quote {
  font-size: 1.5rem;
}

.testimonial__quote-mark {
  color: var(--color-primary-darker);
  font-weight: 900;
  font-size: 2.5rem;
}

.testimonial__author {
  padding: 3rem 0rem;
  display: flex;
  align-items: center;
}

.testimonial__photo {
  border-radius: 50%;
  height: 5rem;
}

.testimonial__info {
  /* padding: 0rem 2rem; */
  margin-left: 2rem;
}

.testimonial__name {
  font-size: 1.5rem;
  margin: 0;
}

.testimonials__change--slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonials__previous-slide,
.testimonials__next-slide {
  padding: 1rem 2rem;
  font-size: 1rem;
  text-align: center;
  background-color: white;
}

hr.close-testimonials {
  grid-area: hr-close-testimonials;
}

/* ----> FOOTER SECTION <---- */

.footer {
  background-color: #37383d;
  grid-area: footer;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
  grid-template-areas:
    "."
    "footer__cta"
    "footer-divider"
    "footer__links"
    "footer__branding"
    "copyright";
}

.footer__cta {
  grid-area: footer__cta;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  text-align: center;
  margin: 0 1rem;
}

.footer__message {
  font-weight: 600;
  font-size: 1.5rem;
}

.footer__signup-btn {
  font-size: 1.5rem;
}

.footer-divider {
  grid-area: footer-divider;
  border-color: #6b6b6b;
}

.footer__links {
  grid-area: footer__links;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer__link {
  padding: 1rem;
  color: white;
}

.footer__branding {
  grid-area: footer__branding;
  display: flex;
  justify-content: center;
}

.footer__copyright {
  grid-area: copyright;
  /* TODO: Arreglar esta mexicanada de que el footer no esta completo */
  margin: 1rem 1rem 7rem 1rem;
  color: #aaa;
  text-align: center;
}

.footer__highlight {
  color: white;
}

/* ----> MEDIA QUERIES SECTION <---- */

/* sm */
@media (width >= 640px) {
  html {
    background-color: red;
    /* font-size: 1.5rem; */
  }

  .hero {
    margin: 0 8rem;
  }
}

@media screen and (orientation: landscape) {
  html {
    background-color: blue;
  }
}

/* MD */

@media (width >= 768px) {
  html {
    background-color: darksalmon;
  }

  /* ----> MAIN SECTION <---- */
}

@media (hover: hover) {
  html {
    background-color: aqua;
  }
}

/* lg */
@media (width >= 1024px) {
  html {
    background-color: #ffcb03;
  }
  @media screen and (orientation: landscape) {
    html {
      background-color: blueviolet;
      /* font-size: 20rem; */
    }

    .hero {
      font-size: 2rem;
    }

    /* DESAPARECE AL MENU HAMBURGUESA */
    .header__hamburguer-menu-toggle-label {
      display: none;
    }

    .header__links {
      position: static;
      width: auto;
      height: auto;
      flex-direction: row;
      gap: 1rem;
      overflow: visible;
    }

    /* FIN SECCION HAMBURGUESA */
  }
}
/* / xl / */
@media (width >= 1280px) {
  html {
    background-color: chartreuse;
  }
}

/* / 2xl / */
/* @media (width >= 1400px) {
  html {
    background-color: cornflowerblue;
  }

  .layout {
    grid-template-areas:
      "header header header header"
      "main main main main"
      "hr-close-hero hr-close-hero hr-close-hero hr-close-hero"
      "features features features features"
      "hr-close-features hr-close-features hr-close-features hr-close-features"
      "operations operations operations operations"
      "hr-close-operations hr-close-operations hr-close-operations hr-close-operations"
      "testimonials testimonials testimonials testimonials"
      "hr-close-testimonials hr-close-testimonials hr-close-testimonials hr-close-testimonials"
      "footer footer footer footer";
  }
} */
